body {
  font-family: "Roboto";
  color: #555555;
  margin: 0;
  /* overflow-x: hidden; */
}

/* Stylování písma */
p {
  line-height: 1.5;
}

header h1 {
  font-size: 6em;
  font-weight: 900;
  color: #0b0b15;
  margin: 0;
}

.header-subtitle {
  color: #ff9301;
  font-size: 2em;
  font-weight: 900;
  margin-top: 0;
}

.text {
  font-size: 1em;
  font-weight: 400;
}

nav a {
  font-size: 0.9em;
  text-decoration: none;
  color: #555555;
  padding: 0.5em 0em;
  margin-right: 1em;
}

a:hover {
  border-bottom: 3px solid #ff9301;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  padding-bottom: 10px;
}

h2,
h3 {
  font-weight: 900;
  color: #0b0b15;
  position: relative;
  z-index: 1;
}

.section-title::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #ff9301;
  border-radius: 50%;
  background-color: #ff9301;
  position: absolute;
  left: -11px;
  top: -6px;
  opacity: 0.5;
  z-index: -2;
}

.subtitle {
  color: #ff9301;
}

.experience-subtitle {
  font-size: 0.9em;
  background-color: #ff9301;
  border-radius: 0.3em;
  padding: 0.5em;
  width: 4.5em;
  color: white;
  text-align: center;
  margin-top: 0;
}

.portfolio-smaller-text {
  font-size: 0.9em;
  margin-top: 0;
}

.experience-subtitle-diferent-background {
  background-color: #555555;
}

img {
  width: 25px;
}

/* Hlavička */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
}

.header-wrap {
  overflow: hidden;
}

.outset-title {
  color: #0b0b15;
  margin-bottom: 0;
}

header .text {
  max-width: 35em;
}

.header-avatar {
  width: 350px;
  position: relative;
}

.circle {
  border-radius: 50%;
  background-color: #ff9301;
}

.bigger-circle {
  width: 62vw;
  height: 62vw;
  top: -12vw;
  left: 34em;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

/* Navigace  */

.nav-menu {
  display: flex;
  padding-left: 0;
  align-items: center;
  height: 3em;
}

section {
  padding: 2vw;
}

/* Sekce BIOGRAPHY */

.diferent-background-color {
  background-color: #f7f7ff;
  position: relative;
  z-index: 0;
}

.biography {
  padding-top: 4vw;
}

.flex-section {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  overflow: hidden;
}

.center-section {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
}

figure {
  margin: 0;
}

.img {
  position: relative;
  display: inline-block;
}

.img::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff9301;
  z-index: -1;
}

.biography-avatar {
  width: 200px;
  border-radius: 50%;
  position: relative;
}

.avatar-capture {
  position: relative;
  left: 2em;
  margin-bottom: 0;
}

figure p {
  margin-top: 0;
  position: relative;
  left: 2.5em;
}

.biography-paragraph {
  margin-left: 5em;
}

.border {
  background-image: url("border-dark.png");
  background-repeat: repeat-x;
  background-size: 10em;
  height: 1em;
  width: 95%;
}

/* Sekce WHAT I DO */

.flex-section__item {
  padding: 1em;
  background-color: white;
  flex: 1 1 0px;
  border-radius: 1em;
  overflow: hidden;
}

.decorate-img {
  background-repeat: no-repeat;
  background-position: center;
}

.wid-img {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.smaller-circle {
  width: 12em;
  height: 12em;
  margin-top: -4em;
  margin-left: -3em;
}

.title-with-margin {
  margin-top: 2em;
}

.flex-section__item .text {
  margin-bottom: 0.5em;
}

.img-less-size {
  width: 90px;
  height: 90px;
}

.img-of-pencil {
  background-image: url("pencil-alt-solid.svg");
}

.img-of-desktop {
  background-image: url("desktop-solid.svg");
}

.img-of-bullsyes {
  background-image: url("bullseye-solid.svg");
}

/* Sekce AWARDS */

.awards-section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trophy-img {
  background-image: url("trophy-solid.svg");
  width: 50px;
  height: 50px;
  margin-top: 1em;
}

.awards h3 {
  font-weight: normal;
  text-align: center;
}

/* Sekce EXPERIENCE */

.experience-flex-section {
  flex-direction: column;
}

.experience-article {
  overflow: visible;
  background-color: #f7f7ff;
  display: flex;
}

.company-with-position {
  padding-top: 1em;
  padding-left: 2em;
  border-left: 2px solid rgba(50, 0, 0, 0.1);
}

time {
  display: block;
  width: 135px;
}

.date-with-employment {
  padding: 2em 6em 2em 1em;
}

.experience-article .text {
  margin-bottom: 0;
}

/* Seknce PORTFOLIO */

.portfolio-grid {
  display: grid;
  margin: auto;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(321px, 1fr));
}

.portfolio-img {
  width: 100%;
}

.my-portfolio h3 {
  margin-bottom: 0;
}

/* Sekce CONTACT */

.contact-section {
  padding-top: 2em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title tile"
    "contacts form"
    "map map";
}

.contact-section .section-title {
  grid-area: title;
}

.contacts {
  grid-area: contacts;
}

.form-article {
  grid-area: form;
}

.contact-description {
  color: #0b0b15;
  display: inline;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

.contact-description:hover {
  border-bottom: none;
}

.contact-img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-me__item {
  display: flex;
  gap: 1em;
  flex-direction: row;
  align-items: center;
}

.map-market-img {
  background-image: url("map-marker-alt-solid.svg");
}

.email-img {
  background-image: url("envelope-regular.svg");
}

.mobile-img {
  background-image: url("mobile-alt-solid.svg");
}

.form-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "full-name email"
    "subject subject"
    "comment comment";
}

.form-grid__item {
  height: 25px;
  /* text-align: left;
  padding: 1em; */
}

.form-grid__item {
  height: 50px;
}

.form-grid__item[type="text"],
.form-grid__item[type="email"] {
  padding-left: 1em;
  font-family: Roboto;
}

.full-name {
  grid-area: full-name;
}

.email {
  grid-area: email;
}

.subject {
  grid-area: subject;
}

.comment {
  grid-area: comment;
  margin-bottom: 1em;
  height: 95px;
  padding-left: 1em;
  padding-top: 1em;
  font-family: Roboto;
  resize: vertical;
}

button {
  background-color: black;
  color: white;
  padding: 1em;
  font-family: Roboto;
  border-radius: 0.3em;
  border: none;
}

.map {
  grid-area: map;
  width: 100%;
  height: 22em;
  margin-top: 2em;
  filter: grayscale(1);
  border: 2px solid white;
  box-sizing: border-box;
}

/* Footer */

.split-border {
  border-top: 2px solid rgba(50, 0, 0, 0.1);
}

.footer-flex {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2vw 0 2vw;
}

.social-site-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.twitter-logo {
  background-image: url("twitter-square-brands.svg");
}

.facebook-logo {
  background-image: url("facebook-square-brands.svg");
}

@media (min-width: 360px) and (max-width: 959px) {
  /* Hlavička */

  .header-avatar {
    display: none;
  }

  .bigger-circle {
    display: none;
  }

  /* Sekce BIOGRAPHY */

  .biography {
    flex-direction: column;
    align-items: center;
  }

  .biography-paragraph {
    margin-left: 0;
  }

  /* Sekce WHAT I DO */

  .what-i-do-flex {
    flex-direction: column;
  }

  .what-i-do .flex-section__item {
    flex: 1 1;
  }

  /* Sekce CONTACT */

  .contact-section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "contacts"
      "form"
      "map";
  }

  .form-article {
    margin-top: 2em;
  }

  .map {
    margin-top: 0;
  }
}

@media (min-width: 560px) and (max-width: 959px) {
  /* Sekce EXPERIENCE */

  time {
    display: block;
    width: 77px;
  }

  .date-with-employment {
    padding-right: 4em;
  }
}

@media (min-width: 360px) and (max-width: 559px) {
  /* Hlavička */

  header {
    display: block;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    height: initial;
  }

  nav ul li {
    background-color: #ff9301;
    text-align: center;
    border-radius: 1vw;
    padding: 0;
  }

  nav ul li a {
    color: black;
    margin-right: 0;
    padding: 1em 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  a:hover {
    border-bottom: initial;
    opacity: 0.5;
  }

  /* Sekce AWARDS */

  .awards-flex {
    flex-direction: column;
  }

  .awards-section__item {
    flex: 1 1;
    flex-direction: row;
    justify-content: initial;
    gap: 1em;
  }

  .trophy-img {
    margin-top: 0;
  }

  /* Sekce EXPERIENCE */

  .experience-article {
    flex-direction: column;
    justify-content: center;
  }

  .date-with-employment {
    padding: 0;
  }

  .company-with-position {
    padding: 0;
    border-left: none;
  }

  .experience-article h4 {
    margin-top: 0;
  }

  /* Sekce CONTACT */

  .form-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "full-name"
      "email"
      "subject"
      "comment";
  }

  /* Footer */

  .footer-flex {
    flex-direction: column;
  }

  .footer-flex__item-text {
    margin-top: 0;
  }
}
